<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         executionOrder="random"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         cacheDirectory="tests/_output/phpunit/cache"
>
    <testsuites>
        <testsuite name="unit">
            <directory>src/test/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
